<div>
    <b>COOKIE CONSENT BANNER</b>
    <a href="/consent/manage">Manage settings</a>
    <form action="/consent" method="get">
        <input type="submit" value="Accept all cookies">
    </form>
</div>
