{{> header}}

<div class="container-md">
  <div class="row">
     <div class="col">
    {{#unless consent}}
      {{> consent}}
    {{/unless}}
    <h1>Hello World</h1>

    <p>I am a website.</p>

    <h3>Cookies set:</h3>
    <ul>
      {{#each cookies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    </div>
  </div>
</div>

{{> footer}}
